body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #dbdbdb44;
}

input,
button {
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
}

.input{
  min-width: 500px;
}

.container{
  margin: 0 auto;
}

.result{
  background-color: #fff;
}


 body {
   font-family: Arial, sans-serif;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #f0f0f0;
 }

 .container {
   text-align: center;
 }

 input,
 button {
   padding: 10px;
   font-size: 16px;
   margin: 5px 0;
 }