body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}



input,
button {
  width: 135px;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
}

.input {
  min-width: 500px;
}

.result-input {
  min-width: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}


.container {
  text-align: center;
}

.container-box1{

}


.container-box2{

}